.main {
    padding: 20px;
    height: 100vh;
}
.layout {
     display: flex;
}

.sidebar {
    min-width: 25%;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(51,1,1);
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    color: white;
}

.content {
    width: 100%;
    height: 100%;
}
.header {
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.body {
    height: 85vh;
     margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.logo h6 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px;
}