.main {
    padding: 20px;
    height: 100vh;
}
.layout {
     display: flex;
}

.sidebar {
    min-width: 25%;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(51,1,1);
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    color: white;
}

.content {
    width: 100%;
    height: 100%;
}
.header {
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.body {
    height: 85vh;
     margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.logo h6 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px;
}

.menu {
    margin-top: 50px;
}

.menu-item {
    margin-top: 30px;

}
.menu-item a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    /* padding: 10px 20px; */
    /* display: block; */
}

.menu-item i{
    font-size: 1.2rem;
    margin-right: 10px;
}
.active {
    background-color: antiquewhite;
    /* color: rgb(51,1,1); */
    padding: 10px;
}
.active a, active i{
    color: rgb(51,1,1);
}
.header-content {
  margin: 0 15px;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
}

.header-content i {
    margin-right: 20px;
    font-size: 1.2rem;
}

.header-content a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    text-transform: uppercase;
}