# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/build
/dist

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# React app build folder
my-app/node_modules/
my-app/build/

# Temporary files
uploads/
tmp/
